html {
	font-family: sans-serif;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust:     100%;
}

body {
	margin: 0;
}

img {
	display: block;
	border: 0;
	width: 100%;
	height: auto;
}

.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar */
}

body,
button,
input,
select,
textarea {
	color: #404040;
	font-family: 'Helvetica', Arial, sans-serif;
	font-size: 18px;
	line-height: 1.5;
}

h1,
h2,
h3 {
	text-align: center;
	margin: 0;
	padding: 1em 0;
}

p {
	margin: 0;
	padding: 1em 0;
}

.logo,
.site-title {
	text-align: center;
}

.logo {
	font-size: 8em;
}

.site-title {
	margin-top: -1em;
	margin-bottom: 3em;
}

.splash {
	background: #FFF6E5;
	padding-bottom: 2em;
}

.splash-content {
	padding: 1.5em;

}

@media screen and (min-width: 600px) {
	.splash-text {
		columns: 2;
		column-gap: 2em;
	}

	.splash-text p {
		padding-top: 0;
	}
}

.buckets {
	padding: 2em 1em 1em;
	background: #3E454C;
}

.buckets ul {
	margin: 0;
	padding: 0;
}

.buckets li {
	margin-bottom: 1em;
	background: white;
	list-style-type: none;
}

.bucket {
	padding: 1.5em;
}

.more {
	padding: 2em;
}

.text {
	text-align: center;
}

.twin {
	padding: 2em;
	background: #2185C5;
	color: white;
}

.twin:last-of-type {
	background: #FF7F66;
}

.colophon {
	padding: 2em;
	background: hsl(0, 0%, 10%);
	color: white;
	text-align: center;
}

.colophon a {
	color: white;
}

.colophon a:hover,
.colophon a:focus {
	border-bottom: 1px solid white;
}

@supports not (display: grid) {
	.grid {
		max-width: 50em;
		margin: 0 auto;
	}
}

@media screen and (min-width: 900px) {
	@supports (display: flex) {

		.buckets {
    			grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  		}

		.buckets ul {
			display: flex;
			justify-content: space-around;
			grid-column: span 2;
		}

		.buckets li {
			width: 23%;
		}
	}
}

@media screen and (min-width: 600px) {
	@supports (display: grid) {

		.grid {
			display: grid;
			grid-template-columns: 1fr repeat(2, minmax(auto, 40em)) 1fr;
		}
  
		.splash-content,
		.more-content,
		.buckets ul {
			grid-column: 2/4;
		}

		.twin,
		.colophon aside {
			grid-column: span 2;
		}
	}
}

@media screen and (max-width: 900px) {
	@supports (display: flex) {

  		.buckets ul {
  			display: flex;
			grid-column: 2/4;
			grid-row: 1/3;
			flex-wrap: wrap;
			justify-content: space-around;
		}

		.buckets li {
  			max-width: 45%;

		}
	}
}

@media screen and (max-width: 600px) {
	@supports (display: grid) {
		
		.logo {
			font-size: 3em;
		}

		.buckets {
    			grid-template-columns: 1fr;
  		}
  		.buckets li {
  			max-width: 100%;
  		}
	}
}